#container {
    width: 80%;
    background-color: #D9D4CC;
    color: #2D291E;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
}

#header {
    background-color: #A3A478;
    display: flex;
    flex-direction: row;
}

#headerLogo {
    max-width:15%;
    flex:0;
    align-content: center;
}

nav {
    background-color: #A3A478;
    height: 100px;
    width:100%;
    flex: 1;
}

main {
    background-color: #D9D4CC;
}

.contentPeice {
    background-color: #A3A478;
}

.mainPagePhoto {
    max-width: 100%;
}

.mainHeader {
    color:#2D291E
}

.aboutParagraph {
    color:#2D291E
}

#map {
    background-color: #A3A478;
}


#scrollingOrderButton {
    position: fixed;
    bottom: 10px;
    right: auto;
    left:auto;
    background-color: #A3A478;
    color:#2D291E;
    width:80%;
    height:100px;
    padding-left:auto;
   padding-right:auto;
}

button {
    height: 50px;
    width:100px;
}

@media only screen and (max-width: 600px) {
    #container {
      width:100%;
    }
  }