@charset "UTF-8";
/* CSS Document */
header {
	background-color: #6c94ac;
	text-align: center;
	font-family: arial;
}
body{text-align: center;
font-family: arial;
background-color:#f4f3e9 }
p {text-align: justify; font-family: arial;}
h1,h2,h3,h4{text-align: center; font-family: arial; color:#de2b11; text-shadow:1px 1px #324258;}
.masthead {color:black; text-align: right}
iframe{margin-top: 50px; align-content: center}
.assignments{align-content: center; vertical-align: inherit}
img{ width:640px; height: 480px}
iframe{
	width:640px; height:480px
	}
