<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="worktable.css">
    <title>Pizza Site</title>
</head>
<body>
    <div id="container">
        <div id="header"></div>
        <div id="nav"></div>
        <div id="newCustForm">
            <form method="POST">
                <p><label for="country">Country:</label>
                    <input type="text" id="country" name="country" required>
                </p>
                <p><label for="stop">Temperature:</label>
                    <input type="text" id="temperature" name="temperature">
                </p>
                <p><input type="submit" name="submit" value="Submit"></p>
            </form>
        </div>
        <hr>
    {{{table}}}
    </div>
</body>
</html>