
body {background-color: #E7E7E0;
    background-image: url(bride.jpg);
	  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; }
#wrapper { background-color:rgba(231, 231, 224, 0.74); 
           width: 80%;
           margin: auto;
        display: flex;
        flex-direction: column;
    }
#logo, #nav { font-family: "Vladimir Script","Apple Chancery", fantasy }
#logo {font-size: 3em; 
       text-align: center;
       font-weight: bold; 
    flex: 0;}
#nav {font-size: 2em; font-weight: bold; 
      background-color: #2C58AA;
      text-align: center;
      flex: 1;
      margin-bottom: 20px;
    }
#nav a:link {color: #E7E7E0; }
#nav a:visited { font-size: 3em; }
#nav a:hover { color: #D5A09E; }
#nav > a {
    margin: 10px;
    padding: 10px 20px;
}
#content {
    text-align: center;
    font-family: "AvenirLTStd-Light", Verdana, "Sans Serif";
}


#footer { text-align: center; 
          background-color: #2C58AA;
          flex: 3;
}

