#container {
    width:80%;
    margin: auto;
    text-align: center;
    font-size: xx-large;
}

#activity1 {
    background-color: lightblue;

}

#activity2 {
    padding-top: 100px;
    background-color: lightgray;
}

